$sm: 390px;
$md: 800px;
$lg: 1025px;

@mixin phone {
  @media only screen and (max-width: $sm) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: ($sm + 1px)) and (max-width: $md) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: ($md + 1px)) and (max-width: $lg) {
    @content;
  }
}

@mixin largeScreen {
  @media only screen and (min-width: ($lg + 1px)) {
    @content;
  }
}

footer {
  @include phone {
    margin-top: auto;

    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;

    span {
      animation: love 0.7s infinite ease-out;
      display: inline-flex;

      @keyframes love {
        0%,
        100% {
          transform: scale(1.3);
        }

        30% {
          transform: scale(1.5);
        }
      }
    }
  }

  @include tablet {
    margin-top: auto;
    text-align: center;
    display: flex;
    justify-content: center;

    span {
      animation: love 0.7s infinite ease-out;
      display: inline-flex;

      @keyframes love {
        0%,
        100% {
          transform: scale(1.3);
        }

        30% {
          transform: scale(1.5);
        }
      }
    }
  }

  @include laptop {
    margin-top: auto;
    display: flex;
    justify-content: center;

    span {
      display: inline-flex;
      animation: love 0.7s infinite ease-out;

      @keyframes love {
        0%,
        100% {
          transform: scale(1.3);
        }

        30% {
          transform: scale(1.5);
        }
      }
    }
  }
  @include largeScreen {
    margin-top: auto;
    display: flex;
    justify-content: center;

    span {
      display: inline-flex;
      animation: love 0.7s infinite ease-out;

      @keyframes love {
        0%,
        100% {
          transform: scale(1.3);
        }

        30% {
          transform: scale(1.5);
        }
      }
    }
  }
}
