$sm: 390px;
$md: 800px;
$lg: 1025px;

@mixin phone {
  @media only screen and (max-width: $sm) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: ($sm + 1px)) and (max-width: $md) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: ($md + 1px)) and (max-width: $lg) {
    @content;
  }
}

@mixin largeScreen {
  @media only screen and (min-width: ($lg + 1px)) {
    @content;
  }
}

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  @include phone {
    @include center;
    height: 400px;
    padding: 40px;

    h1 {
      font-size: 40px;
      margin: 0px;
      font-family: "Merriweather", serif;
      word-wrap: wrap;
      margin-top: 20px;
    }

    h2 {
      text-shadow: 1px 1px 1px rgb(40, 40, 40);
      font-size: 16px;
      font-weight: 400;
      word-wrap: wrap;
      width: 400px;
    }

    p {
      font-size: 16px;
      margin: 0px;
      color: bisque;
      padding-top: 20px;
      word-wrap: wrap;
    }
  }

  @include tablet {
    @include center;
    height: 400px;
    padding: 40px;
    margin-left: 0%;
    margin-left: 10%;

    h1 {
      font-size: 50px;
      margin: 0px;
      font-family: "Merriweather", serif;
      word-wrap: break-word;
      margin-top: 20px;
    }

    h2 {
      text-shadow: 1px 1px 1px rgb(40, 40, 40);
      font-size: 30px;
      font-weight: 400;
      width: 400px;
    }

    p {
      font-size: 30px;
      margin: 0px;
      color: bisque;
      padding-top: 20px;
    }
  }

  @include laptop {
    @include center;
    min-height: 100vh;
    margin-left: 20%;

    h1 {
      font-size: 70px;
      margin: 0px;
      color: white;
      font-family: "Merriweather", serif;
    }

    h2 {
      color: rgb(210, 210, 210);
      text-shadow: 1px 1px 1px rgb(40, 40, 40);
      font-size: 22px;
      font-weight: 400;
      width: 400px;
    }

    p {
      font-size: 36px;
      margin: 0px;
      color: bisque;
    }
  }

  @include largeScreen {
    @include center;
    min-height: 100vh;
    margin-left: 20%;

    h1 {
      font-size: 70px;
      margin: 0px;
      color: white;
      font-family: "Merriweather", serif;
    }

    h2 {
      color: rgb(210, 210, 210);
      text-shadow: 1px 1px 1px rgb(40, 40, 40);
      font-size: 22px;
      font-weight: 400;
      width: 400px;
    }

    p {
      font-size: 36px;
      margin: 0px;
      color: bisque;
    }
  }
}

a > img {
  transition: 0.2s;
}

a > img:hover {
  transform: scale(1.1);
}

.bg {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../images/dmitry-osipenko-_ci4OGjGi4A-unsplash.jpg");

  width: 100%;
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Typewriter effect
#typewriter__effect {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(60, end), blink-caret 0.5s step-end infinite;
  width: 100%;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
