@use "../design/color-palette";

$xs: 390px;
$sm: 500px;
$md: 800px;

header {
  @media only screen and (max-width: $sm) {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;

    h1 {
      font-size: 40px;
      margin: 0px;
      color: $white;
      font-family: "Merriweather", serif;
    }

    h2 {
      color: $beige;
      text-shadow: 1px 1px 1px rgb(40, 40, 40);
      font-size: 20px;
      font-weight: 400;
      width: 400px;
    }

    p {
      font-size: 19px;
      margin: 0px;
      color: bisque;
    }
  }

  @media only screen and (min-width: ($sm + 1px)) and (max-width: $md) {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;

    h1 {
      font-size: 50px;
      margin: 0px;
      color: white;
      font-family: "Merriweather", serif;
    }

    h2 {
      color: rgb(210, 210, 210);
      text-shadow: 1px 1px 1px rgb(40, 40, 40);
      font-size: 18px;
      font-weight: 400;
      width: 420px;
    }

    p {
      font-size: 18px;
      margin: 0px;
      color: bisque;
    }
  }

  @media only screen and (min-width: ($md + 1px)) {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;

    h1 {
      font-size: 70px;
      margin: 0px;
      color: white;
      font-family: "Merriweather", serif;
    }

    h2 {
      color: rgb(210, 210, 210);
      text-shadow: 1px 1px 1px rgb(40, 40, 40);
      font-size: 22px;
      font-weight: 400;
      width: 400px;
    }

    p {
      font-size: 36px;
      margin: 0px;
      color: bisque;
    }
  }
}

a > img {
  transition: 0.2s;
}

a > img:hover {
  transform: scale(1.1);
}

.bg {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../images/dmitry-osipenko-_ci4OGjGi4A-unsplash.jpg");

  width: 100%;
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Typewriter effect
#typewriter__effect {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(60, end), blink-caret 0.5s step-end infinite;
  width: 100%;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
