#about__section {
  padding-top: 180px;
  width: 40%;
  text-align: center;
  display: flex;
  align-items: center;
  padding-bottom: 100px;

  h3 {
    color: bisque;
  }
}

#technologies {
  padding: 10px;
  img {
    height: 45px;
    padding: 10px;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
