#about__section {
  padding-top: 100px;
  width: 40%;
  text-align: center;
  display: flex;
  align-items: center;
  padding-bottom: 100px;

  h3 {
    color: bisque;
    padding-top: 10px;
    margin: 0px;
  }
}

#technologies {
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  img {
    height: 45px;
    width: 45px;
    padding: 10px;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .technologies__container {
    display: flex;
    flex-direction: column;
    width: 45px;
    margin: 0px;
    align-items: center;
    padding: 14px;
    font-size: 14px;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
