$sm: 390px;
$md: 800px;
$lg: 1025px;

@mixin phone {
  @media only screen and (max-width: $sm) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: ($sm + 1px)) and (max-width: $md) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: ($md + 1px)) and (max-width: $lg) {
    @content;
  }
}

@mixin largeScreen {
  @media only screen and (min-width: ($lg + 1px)) {
    @content;
  }
}

#about__section {
  @include phone {
    padding-top: 30px;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;

    h3 {
      color: bisque;
      padding-top: 10px;
      margin: 0px;
    }
  }

  @include tablet {
    padding-top: 100px;
    width: 60%;
    text-align: center;
    display: flex;
    align-items: center;
    padding-bottom: 100px;

    h3 {
      color: bisque;
      padding-top: 10px;
      margin: 0px;
    }
  }

  @include laptop {
    padding-top: 100px;
    width: 60%;
    text-align: center;
    display: flex;
    align-items: center;
    padding-bottom: 100px;

    h3 {
      color: bisque;
      padding-top: 10px;
      margin: 0px;
    }
  }

  @include largeScreen {
    padding-top: 100px;
    width: 40%;
    text-align: center;
    display: flex;
    align-items: center;
    padding-bottom: 100px;

    h3 {
      color: bisque;
      padding-top: 10px;
      margin: 0px;
    }
  }
}

#technologies {
  @include phone {
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    img {
      height: 45px;
      width: 45px;
      padding: 15px;
      transition: 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .technologies__container {
      display: flex;
      flex-direction: column;
      width: 70px;
      margin: 0px;
      align-items: center;
      padding: 10px;
      font-size: 14px;
      transition: 0.2s;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }

  @include tablet {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    img {
      height: 45px;
      width: 45px;
      padding: 10px;
      transition: 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .technologies__container {
      display: flex;
      flex-direction: column;
      width: 70px;
      margin: 0px;
      align-items: center;
      padding: 10px;
      font-size: 14px;
      transition: 0.2s;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }

  @include laptop {
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    img {
      height: 45px;
      width: 45px;
      padding: 15px;
      transition: 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .technologies__container {
      display: flex;
      flex-direction: column;
      width: 70px;
      margin: 0px;
      align-items: center;
      padding: 14px;
      font-size: 14px;
      transition: 0.2s;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }

  @include largeScreen {
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    img {
      height: 45px;
      width: 45px;
      padding: 15px;
      transition: 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .technologies__container {
      display: flex;
      flex-direction: column;
      width: 70px;
      margin: 0px;
      align-items: center;
      padding: 14px;
      font-size: 14px;
      transition: 0.2s;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
}
