$sm: 390px;
$md: 800px;
$lg: 1025px;

@mixin phone {
  @media only screen and (max-width: $sm) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: ($sm + 1px)) and (max-width: $md) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: ($md + 1px)) and (max-width: $lg) {
    @content;
  }
}

@mixin largeScreen {
  @media only screen and (min-width: ($lg + 1px)) {
    @content;
  }
}

#contact__section {
  @include phone {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;

    h2 {
      width: 80%;
    }
  }

  @include tablet {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;

    h2 {
      width: 300px;
    }
  }

  @include laptop {
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 150px;

    h2 {
      width: 300px;
    }
  }

  @include largeScreen {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 200px;

    h2 {
      width: 300px;
    }
  }
}

@mixin btn-border-drawing(
  $color: #ccc,
  $hover: black,
  $width: 2px,
  $vertical: top,
  $horizontal: left,
  $duration: 0.25s
) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == "left", "right", "left");

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == "top", "bottom", "top");

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: $hover;

    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before {
      transition-delay: 0s, 0s, $duration;
    }

    &::after {
      transition-delay: 0s, $duration, 0s;
    }
  }
}

.draw-border {
  @include btn-border-drawing(bisque, #b7b7b7, 3px, bottom, right);
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font-size: 16px;
  padding: 10px 14px;
  letter-spacing: 0.05rem;

  &:focus {
    outline: 1px dotted #55d7dc;
  }

  a {
    text-decoration: none;
    color: bisque;
  }

  a:hover {
    color: lightgrey;
  }

  img {
    height: 20px;
  }
}
