header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 500px;
  h2 {
    color: rgb(210, 210, 210);
    text-shadow: 1px 1px 1px rgb(40, 40, 40);
    font-size: 24px;
    font-weight: 400;
    width: 400px;
  }

  h1 {
    font-size: 70px;
    margin: 0px;
    color: white;
  }

  p {
    font-size: 40px;
    margin: 0px;
    color: rgb(193, 193, 193);
  }
}

a > img {
  transition: 0.2s;
}

a > img:hover {
  transform: scale(1.1);
}

.bg {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../images/dmitry-osipenko-_ci4OGjGi4A-unsplash.jpg");

  width: 100%;
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
