@import "design";
@import "components";

* {
  font-family: Lato;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 500px;
}

section > p {
  text-align: center;
}

.parent {
  height: auto;
  padding: 5px;
}

.child {
  height: 30px;
  padding: 8px;
}

a > img {
  transition: 0.2s;
}

a > img:hover {
  transform: scale(1.1);
}

label,
input,
textarea {
  display: block;
}

input,
textarea {
  width: 500px;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 10px;
  color: #676767;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -o-transition: border 0.5s;
  border: solid 1px #7e7e7e;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

form > button {
  display: flex;
  justify-content: center;
}

.bg {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../images/dmitry-osipenko-_ci4OGjGi4A-unsplash.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
