@import "modules/header";
@import "modules/footer";
@import "modules/aboutme";
@import "modules/navbar";
@import "modules/projects";
@import "design/color-palette";
@import "modules/background-effect";
* {
  font-family: "Inconsolata", monospace;
  scroll-behavior: smooth;
}

body {
  margin: -3px;
  display: flex;
  flex-direction: column;
  background: radial-gradient(#272727, #1f1013);
  //   -webkit-overflow-y: hidden;
  //   -moz-overflow-y: hidden;
  //   -o-overflow-y: hidden;
  //   overflow-y: hidden;
  -webkit-animation: fadeIn 1 1s ease-out;
  -moz-animation: fadeIn 1 1s ease-out;
  -o-animation: fadeIn 1 1s ease-out;
  animation: fadeIn 1 1s ease-out;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 500px;
  padding-top: 50px;
}

section > p {
  text-align: center;
}

.parent {
  height: auto;
  padding: 5px;
}

.child {
  height: 30px;
  padding: 8px;
}
