@import "modules/header";
@import "modules/footer";
@import "modules/about-me";
@import "modules/navbar";
@import "modules/projects";
@import "modules/contact";
@import "design/color-palette";
@import "modules/background-effect";
* {
  font-family: "Inconsolata", monospace;
  scroll-behavior: smooth;
}

body {
  margin: -3px;
  display: flex;
  flex-direction: column;
  background: radial-gradient(#272727, #1f1013);
  //   -webkit-overflow-y: hidden;
  //   -moz-overflow-y: hidden;
  //   -o-overflow-y: hidden;
  //   overflow-y: hidden;
  -webkit-animation: fadeIn 1 1s ease-out;
  -moz-animation: fadeIn 1 1s ease-out;
  -o-animation: fadeIn 1 1s ease-out;
  animation: fadeIn 1 1s ease-out;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  width: 60%;

  h2 {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    padding-bottom: 5px;
    width: 186px;
  }
}

.parent {
  height: auto;
  padding: 5px;
}

.child {
  height: 30px;
  padding: 8px;
}

h2 {
  font-size: 36px;
}
